.time-table-countainer{
 height: 400px;
 padding: 50px;
 background-color: black;
}
.title-section{
    width: 40%;
    margin: auto;
    text-align: center;
}
.title-section p{
    color: rgb(56, 55, 55);
    font-size: 12px;
}
.countent-doctor-time{
    margin-top: 40px;
    width: 100%;
    background-color: aqua;
    height: 300px;
}