header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0px;
    height: 60px;
z-index: 1;
}
h1.title-header{
    margin: auto;
    width: 80%;
    color:black;
    display: flex;
    align-items: center;

}