header{
    background-color: white;
    position: sticky;
    top: 0px;
    height: 70px;
     z-index: 1;
}
h1.title-header{
    margin: auto;
    width: 80%;
    color:black;
    display: flex;
    align-items: center;

}
.user-list{
    width: 200px;
    position: relative;
}
.user-list img{
    margin-left: 80%;
}
.user-list nav{
    border-radius: 5px;
    position: absolute;
    top: 100%;
    background-color:#0b3bd6;
    width: 200px;
    padding: 12px 20px;
    left: 50%;
    color: white;
}
.nav-display-true{
     display:block;
}
.nav-display-true ul{
    width: 100%;

}
.nav-display-false{
    display: none;
}

.logout{
    
    border-top: 1px solid gray;
}

.user-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid blue;
}
header  section{
    height: 100%;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:600px){
    .user-list nav{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top:0;
        left: 0;
        background-color: aliceblue;
        color:black
    }
}