.about-section{
    display: flex;
    width: 80%;
    margin: auto;
    padding:14px 15px;
    margin-top: 200px;
}
.about-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-info section *{
    margin-bottom: 30px;
}
@media (max-width:600px)
{
    .about-section{
        flex-direction: column;
    }
}