


.input-countainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

}


.input-countainer section{
  width: 100%;
}
input,select{
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(66, 66, 66);
}


textarea{
    padding: 10px ;
    height:100px;
}
.appointments-table{
  width: 90%;
  margin: auto;
 background-color: aqua;
}
.status-select{
  background: rgb(21, 2, 124);
  width: 100px;
  color: white;
  padding: 10px 20px;
  border: none;
  outline: none;
}
.search{
  width: 300px;
}

/* Small Screen */
@media (max-width: 600px) {
    .input-countainer {
      flex-direction: column;
    }
     .input-countainer *{
        width: 100%;
     }

  }
  


  .title-appointments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
  }
  
